@model DotWeb.ManageUserViewModel
@{
    ViewBag.Caption = MvcSiteMapProvider.SiteMaps.Current.CurrentNode.Title;
    ViewBag.MenuName = MvcSiteMapProvider.SiteMaps.Current.CurrentNode.ParentNode.Title;
}
@section IncludeCSS{}

@section IncludeScript{
    @Html.Partial("Manage/jsCommVar")

    <script>
        var aj_MasterPasswordUpdate = '@Url.Action("aj_MasterPasswordUpdate")';
        var Info_ChangePassword_Success = '@Resources.Res.Info_ChangePassword_Success';
    </script>
    @Scripts.Render("~/changepasswordController")
}
@section sidebar{
    @Html.Partial("Manage/vucMenu")
}

<h3 class="title">
    <span>@ViewBag.Caption</span>
</h3>

<div class="row row-centered">
    <div class="col-xs-6 col-centered">

        <div class="item-box">
            <h5 class="item-title">@ViewBag.Caption</h5>

            <div class="panel-body">

                <form class="form-horizontal" ng-submit="submit()">

                    <div class="form-group">
                        <label class="col-xs-3 control-label">@Html.Lang(x => x.OldPassword)</label>
                        <div class="col-xs-7">
                            <input class="form-control" type="password" ng-model="@Html.ngName(x => x.OldPassword, Html.ngFD())" maxlength="16" required />
                        </div>
                        <small class="help-inline text-danger col-xs-2">必填</small>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">@Html.Lang(x => x.NewPassword)</label>
                        <div class="col-xs-7">
                            <input class="form-control" type="password" ng-model="@Html.ngName(x => x.NewPassword, Html.ngFD())" maxlength="16" required />
                        </div>
                        <small class="help-inline text-danger col-xs-2">必填</small>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">@Html.Lang(x => x.ConfirmPassword)</label>
                        <div class="col-xs-7">
                            <input class="form-control" type="password" ng-model="@Html.ngName(x => x.ConfirmPassword, Html.ngFD())" maxlength="16" required />
                        </div>
                        <small class="help-inline text-danger col-xs-2">必填</small>
                    </div>

                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary"><i class="fa-check"></i> @Resources.Res.Button_Save</button>
                    </div>

                </form>

            </div>

        </div>

    </div>
</div>